page-login {
    .latar {
        background-color: #ebebeb ;
    }

    .item.item-input {
        background-color: transparent;
    }

    .welcome {
        position: relative;
        color : #D43B41;
        font-size: 2.0em;
        top: 12%;
        left: 5%;
    }

    .masuk {
        position: relative;
        color : #D43B41;
        font-size: 1.0em;
        top: 8%;
        left: 6%;
    }

    .isian {
        position: relative;
        top: 12%;
    }

    .item-md.item-input .item-inner {
        border-bottom-color: #D43B41 !important;
    }

    .kembali {
        position: relative;
        top: 15%;
        color: #D43B41;
    }

    
}
